body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Playlsit table css */
#t1{
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 90%;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
table td, #t1 th {
  padding: 8px;
}
table tr:nth-child(odd){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: skyblue;
  color: white;
}
td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}
/* Playlist table info */
.playlist-info{
  padding-left: 75px;
}
/* Playlist remove buttons */

.btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid lighten(gray, 24%);
  height: 48px;
  padding: 0 12px 0 10px;
  letter-spacing: .25px;
  border-radius: 24px;
  cursor: pointer;
}
.btn-delete {
  font-size: 13px;
  color: rgb(14, 13, 13);
}
.btn1 {
  margin-left: 10px;
  align-items: center;
  background: none;
  height: 16px;
  padding: 0 10px 0 10px;
  letter-spacing: .25px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-edit {
  font-size: 8px;
  color: rgb(99, 96, 96);
}



  