body {
  font-family: Roboto, RobotoDraft, Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(222, 222, 222);
  padding-left: 10px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(5, 5, 20), 0 0 5px rgb(0, 0, 1);
}

h2 {
  font-size: 20px;
  justify-content: center;
  display: flex;

}

.sorting {
  justify-content: center;
  display: flex;
}

.intro {
  color: rgb(241, 241, 241);
  font-size: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 4rem;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(5, 5, 20), 0 0 5px rgb(0, 0, 1);
}

input {
  width: 10ch;
}

input[type=text] {
  padding: 4px;
  border-radius: 8px;
}

.intro {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  background-color: rgb(119, 143, 239);
}

.searchResults {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  background-color: rgb(148, 237, 251);
}

button {
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.885);
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(64, 63, 96);
}


[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}